<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group4.Properties.Settings.SADM_4ConnectionString"
            connectionString="Data Source=dbcourse.database.windows.net;Initial Catalog=SADM_4;Persist Security Info=True;User ID=hilazieg@bgufbm.onmicrosoft.com;Password=fqv86251;Authentication=Active Directory Password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>